<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        .hero {
            background-color: #f0f0f0;
            padding: 50px;
            text-align: center;
        }
        .hero h1 {
            font-size: 3em;
            margin-bottom: 20px;
        }
        .hero p {
            font-size: 1.5em;
            color: #555;
        }
    </style>
</head>
<body>
        <section class='hero'><h1>Hero</h1><p>Descrizione</p></section>

</body>
</html>